<head>
	<link rel="stylesheet" href="/css/style.css">
</head>
<div id="search" class="clearfix">

	<form class="positions" action="/index" method="post">

  	<div class="bucket description">
			<h3><span>Job Description</span></h3>

			<div class="field">
        <input type="text" name="description" id="description_field" placeholder="Filter by title, benefits, companies, expertise" autocomplete="off" />
			</div>
		</div>

		<div class="bucket location">
			<h3><span>Location</span></h3>

			<div class="field">
        <input type="text" name="location" id="location_field" placeholder="Filter by city, state, zip code or country" autocomplete="off" />
			</div>
		</div>

		<div class="bucket fulltime">
			<label class="simplefield">
        <input type="checkbox" name="full_time" id="full_time_field" value="on" />
				Full Time Only
			</label>
		</div>

		<button type="submit">Search</button>

</form>

</div>
<div id="page">
  <div class="inner">

    <h1><span>Featured Jobs</span></h1>

    <div class="columns generic">
      <div class="column main">
        <section>
          <table class="positionlist">
         	  <tbody>
            {{#each show_data}}
			        <tr class="job">
			        	<td class="title">
					       <h4><a href="https://linktothisoffer">{{this.title}}</a></h4>
					       <p class="source">
						     <a class="company" href="https://linktothiscompany">{{this.company}}</a>
						–
                 <strong class="type">{{this.type}}</strong></p>
				        </td>

				        <td class="meta">
                 <span class="location">{{this.location}}</span>
                 <span class="when relatize relatized">{{this.created_at}}</span>
				        </td>
			         </tr>
            {{/each}}
					</tbody>
				</table>
      </section>
      <h1><span>Hot Searches</span></h1>

        <div class="hot-searches">

            <a href="/index?description=PHP">PHP</a>
             ·
            <a href="/index?description=Rails">Rails</a>
             ·
            <a href="/index?description=Python">Python</a>
             ·
            <a href="/index?description=JavaScript">JavaScript</a>
             ·
            <a href="/index?description=Scala">Scala</a>
             ·
            <a href="/index?description=Android">Android</a>
             ·
            <a href="/index?description=iOS">iOS</a>
             ·
            <a href="/index?description=Linux">Linux</a>
             ·
            <a href="/index?description=Erlang">Erlang</a>
        </div>

        <div class="hot-searches">

            <a href="/positions?location=San+Francisco">San Francisco</a>
             ·
            <a href="/positions?location=New+York+City">New York City</a>
             ·
            <a href="/positions?location=Austin%2C+TX">Austin, TX</a>
             ·
            <a href="/positions?location=London">London</a>
             ·
            <a href="/positions?location=Europe">Europe</a>
        </div>
      </div>
	  </div>
  </div>
</div>
